
/*Create color scheme for page*/
:root {
    --primary-color: #292C28;
    --secondary-color: darkolivegreen;
    --tertiary-color: 
}

body {
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 25px 25px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: white;
}

header h1 {
    font-weight: bold;
    font-size: 32px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

.hero {
    background-image: url("../images/hero-bg.jfif");
    background-size: cover;
    height: 350px;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 50%;
    border: 2px solid;
}

.hero-info {
    width: 55%;
    text-align: left;
    margin: 3%;
    color: white;
    font-size: 20px;
    line-height: 2;
}

.hero-info h1 {
    font-style: italic;
    font-size: 50px; 
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-photo {
    /*border: 3px solid darkolivegreen;*/
    padding: 20px;
    height: 345px;
    width: 250px;
}

.hero-photo img {
    border-radius: 50%;
    width: 100%;
    height: 90%;
}

.flex-row {
    display: flex;
}

.flex-row h2 {
    font-weight: bold;

}

.section-title {
    font-size: 40px;
    color: var(--primary-color);
    border-bottom: 5px solid;
    padding-bottom: 15px;
    text-align: center;
    margin: 25px auto 25px auto;
    width: 55%
}

.projects {
    background:var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;

}

.main-proj {
    padding: 20px;
    margin: 20px;
    height: 375px;
    width: 425px;
    position: relative;
}

.main-proj img {
    width: 100%;
    height: 100%;
    border: 5px solid var(--primary-color);
}

.main-project-info {
    position: absolute;
    width: 200px;
    height: 100px;
    border: 5px solid var(--primary-color);
    background: var(--primary-color);
    bottom: 10px;
    text-align: center;
    color: white;
}

.project-info {
    position: absolute;
    width: 150px;
    height: 100px;
    border: 5px solid var(--primary-color);
    background: var(--primary-color);
    bottom: 10px;
    text-align: center;
    color: white;
}

.additional-projects {
    padding: 20px;
    margin: 20px;
    height: 375px;
    width: 250px;
    position: relative;
}

.additional-projects img {
    width: 100%;
    height: 100%;
    border: 5px solid var(--primary-color);
}

.contact {
    background-image: url("../images/hero-bg.jfif");
    background-size: cover;
    height: 150px;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 50%;
    border: 2px solid;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px;
}

.contact-info h3 {
    color: white;
    font-weight: bold;
    padding: 25px;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

/* Media Query for smaller desktop screens and smaller*/
@media screen and (max-width: 980px) {
header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
    width: 100%;
    text-align: center;
}

.hero-info {
    text-align: center;
}

.main-proj, .additional-projects {
    flex: 0 70%;
}
}

/* Media Query for tablets and smaller*/
@media screen and (max-width: 768px) {

.hero-info {
    text-align: left;
}

.hero-info h1 {
    font-size: 38px;
}

.contact-info {
    margin: 10px;
    font-size: 85%;
    text-align: center;
}

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

.main-proj, .additional-projects {
    flex: 0 100%;
}

.contact-info {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    font-size: 8px;
}

header h1 {
    font-size: 26px;
}

header nav ul li a {
    font-size: 20px;;
}

.hero-info, .hero-photo {
    width: 50%;
}

.hero-photo {
    padding: 20px;
    height: 300px;
    width: 200px;
}

.hero-photo img {
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.hero-info h1 {
    font-size: 20px;
}

.hero-info p {
    font-size: 12px;
}

}

